@import 'themes/light.scss';
@import 'themes/dark.scss';

.app {
  --secondary-gray: #9c9c9c;
  * {
    font-family:  'Inter', sans-serif;
  }
  position: relative;
  h1 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
    font-family: 'Cormorant SC', serif;

    @media screen and (min-width: 320px) {
      font-size: 12px;
      line-height: 15px;
    }

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 19px;
    }
  }

  background-color: var(--primary_bg);
  
   .layout {
    margin: 0 auto;
    height: 100vh;
    @media screen and (min-width: 320px) {
      // margin-left: 20px;
      // margin-right: 20px;
      max-width: 280px;
      overflow: hidden;
     }
  
     @media screen and (min-width: 768px) {
      height: 100vh;
      max-width: 728px;
     }
  
     @media screen and (min-width: 1280px) {
      max-width: 1240px;
      padding-bottom: 0;
     }
  }
}
