@use 'sass:color';

$skeleton-light: color.adjust(#181818, $lightness: 5%);

.app.dark {
  --primary_bg: #121212;
  --primary_text: #ffffff;
  --primary-gray: #DEDEDE;
  --secondary: #1a1818;
  --accent: #ab8956;
  --skeleton: #181818;
  --skeleton-secondary: #{$skeleton-light};
  --hover-bg: rgba(205, 205, 205, 0.051);
}
